/* General Styles */
html,
body,
body > div {
  height: 100%;
}

html, body {
    overflow-x: hidden;
}

body {
  background: linear-gradient(90deg, #f50374 0%, #972276 100%);
  color: white;
  font-family: sans-serif;
}

h1 {
  text-transform: capitalize;
  font-size: 20px;
}

.container {
  max-width: 90vw;
  width: 800px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > div {
    width: 100%;
}

a {
  color: #f50374;
  &:hover {
    color: #972276;
  }
}

h2 {
  font-size: 1rem;
  text-transform: capitalize;
}
