{{outlet}}
<div class="container">
  <h1 {{action "getUserData"}}>Posts</h1>
  <div id="postsContainer">
    {{#post-pagination source=model as |posts|}}

    {{#each posts as |post|}}
    <Post @post={{post}} />
    {{/each}}

    {{/post-pagination}}
  </div>
</div>